<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
        <button ion-button icon-only (click)="goToHome()"><ion-icon name="home"></ion-icon></button>
    </ion-buttons>    
    <ion-title>
        Todos!
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
        <button ion-button icon-only (click)="goToLogin()"><ion-icon name="person"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <!--<ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}}</ion-item>-->
  </ion-list>
  <button ion-button round (click)="reloadTasks()"><ion-icon name="refresh"></ion-icon>&nbsp;Reload</button>
</ion-content>